body{
    font-family: 'Poppins', sans-serif;
}
/*-----------------------------------------------------------------
                            HEADER
-------------------------------------------------------------------*/
header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.904);
    border-radius: 30px;
    color: white;
    padding: 50px 50px 0;
    width: auto;
    margin: 50px 75px;
    margin-bottom: 90px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
    height: 100%;
}
header h1{
    font-size: 4vw;
}
header p{
    font-weight: 100;
    font-size: smaller;
}
header a{
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 0 10px 30px;
    width: 145px;
    background-color: red;
    color: whitesmoke;
    font-weight: 500;
    display: block;
}
/*-----------------------------------------------------------------
                            MAIN
-------------------------------------------------------------------*/
main{
    display: flex;
    margin: 0 75px;
}
/*---------------------- ASIDE BUTTON -----------------------------*/
aside{
    background-color: rgba(0, 0, 0, 0.904);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 235px;
    margin-right: 20px;
}
aside a{
    text-decoration: none;
    border: none;
    color: black;
    text-align: center;
    border-radius: 8px;
    height: 40px;
    width: 200px;
    margin: 18px 18px ;
    padding: 15px 0 0 0;
    font-weight: 700;
    background-color: white;
}
#red-button{
    color: whitesmoke;
    background-color: red;
}