.grid-card{
    text-align: center;
    width: 312px;
    height: 242px;
}
.grid-card > h3{
    color: rgb(77, 77, 77);
    font-weight: 100;
}
.german-flag{
    position: relative;
    left: 22px;
}
.french-flag{
    position: relative;
    right: 22px;
}
.flex-flag{
    display: flex;
    justify-content: space-between;
}
.flex-flag img{
    height: fit-content;
    padding: 5px 0 0;
}
